@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype"), url("../fonts/montserrat-bold-webfont.svg#icomoon") format("svg"); }

@font-face {
  font-family: 'Kaushanscript';
  src: url("../fonts/kaushanscript-regular-webfont.eot");
  src: url("../fonts/kaushanscript-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/kaushanscript-regular-webfont.woff") format("woff"), url("../fonts/kaushanscript-regular-webfont.ttf") format("truetype"), url("../fonts/kaushanscript-regular-webfont.svg#icomoon") format("svg"); }

@font-face {
  font-family: 'Roboto-lightitalic';
  src: url("../fonts/roboto-lightitalic-webfont.eot");
  src: url("../fonts/roboto-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-lightitalic-webfont.woff") format("woff"), url("../fonts/roboto-lightitalic-webfont.ttf") format("truetype"), url("../fonts/roboto-lightitalic-webfont.svg#icomoon") format("svg"); }

@font-face {
  font-family: 'Roboto-regular';
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg#icomoon") format("svg"); }

h1 {
  font-family: 'Montserrat';
  font-size: 150px;
  text-transform: uppercase;
  margin-bottom: 30px; }
  @media (max-width: 992px) {
    h1 {
      font-size: 75px;
      margin-bottom: 30px; } }
  @media (max-width: 768px) {
    h1 {
      font-size: 50px;
      margin-bottom: 20px; } }

h2 {
  font-family: 'Kaushanscript';
  font-size: 72px;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 30px; }
  @media (max-width: 992px) {
    h2 {
      font-size: 52px;
      margin-bottom: 20px; } }
  @media (max-width: 768px) {
    h2 {
      font-size: 32px;
      margin-bottom: 10px; } }

h3 {
  font-family: 'Montserrat';
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px; }
  @media (max-width: 768px) {
    h3 {
      font-size: 24px;
      margin-bottom: 10px; } }

h4 {
  font-family: 'Kaushanscript';
  font-size: 24px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 20px; }
  @media (max-width: 768px) {
    h4 {
      padding-top: 40px;
      font-size: 18px;
      padding-bottom: 10px; } }

p {
  font-family: Roboto-regular, helvetica, arial;
  font-size: 16px;
  margin-bottom: 30px; }
  p.large-paragraph {
    font-family: Roboto-lightitalic;
    font-size: 24px;
    text-transform: lowercase;
    padding-top: 20px;
    margin: 0; }
    @media (max-width: 768px) {
      p.large-paragraph {
        font-size: 20px; } }

section#home-page {
  height: 100vh;
  background-image: url("../images/hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 768px) {
    section#home-page {
      height: auto; } }
  section#home-page .hero-button {
    background-color: transparent;
    font-family: Roboto-regular, helvetica, arial;
    padding: 8px 30px 8px 30px;
    border: 3px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 70px; }
  section#home-page .hero-button:hover {
    color: #f38181;
    border: 3px solid #f38181;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
  section#home-page .navbar {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px; }
    section#home-page .navbar button.navbar-toggler {
      color: #ffffff;
      padding-top: 10px; }
    section#home-page .navbar li a {
      color: #ffffff;
      font-family: 'Roboto';
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 100;
      margin-left: 100px; }
    section#home-page .navbar li a:hover {
      color: #f8f8f8;
      border: 1px solid #ffffff;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
  section#home-page .container {
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 20px; }
  section#home-page .container hr {
    border-top: 3px solid #ffffff;
    width: 80px;
    padding-bottom: 30px; }
  section#home-page .col-md-3 hr {
    border-top: 3px solid #ffffff;
    width: 100%;
    padding-bottom: 0px; }
  section#home-page .second-menu-item:hover {
    color: #f38181; }
  section#home-page .col-md-3 a {
    text-align: left;
    text-decoration: none;
    color: #ffffff; }
  section#home-page .col-md-3 span {
    font-size: 20px;
    font-weight: 500;
    padding-right: 10px;
    padding-left: 5px; }
  @media (max-width: 768px) {
    section#home-page .hide {
      display: none; } }

.container .hr-header {
  border-top: 3px solid #f38181;
  width: 70px;
  padding-bottom: 30px; }
  @media (max-width: 768px) {
    .container .hr-header {
      padding-bottom: 10px; } }

.container p {
  margin-bottom: 70px; }

.container-fluid .counter {
  margin-top: 100px;
  background-color: #95e1d3;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
  color: #ffffff; }
  @media (max-width: 768px) {
    .container-fluid .counter {
      padding-top: 10px;
      padding-bottom: 10px; } }
  .container-fluid .counter p {
    text-transform: uppercase; }
    @media (max-width: 992px) {
      .container-fluid .counter p {
        font-size: 12px; } }
    @media (max-width: 768px) {
      .container-fluid .counter p {
        font-size: 12px; } }

.container-fluid .number {
  font-size: 72px;
  font-weight: 700; }
  @media (max-width: 992px) {
    .container-fluid .number {
      font-size: 42px; } }
  @media (max-width: 768px) {
    .container-fluid .number {
      font-size: 36px; } }

.container {
  margin-bottom: 60px; }
  .container .hr-header {
    border-top: 3px solid #f38181;
    width: 70px;
    padding-bottom: 30px; }
    @media (max-width: 768px) {
      .container .hr-header {
        padding-bottom: 10px; } }
  .container .services {
    position: relative;
    padding-left: 50px; }
  .container p {
    margin-bottom: 70px; }
    @media (max-width: 768px) {
      .container p {
        margin-bottom: 20px; } }
    @media (max-width: 576px) {
      .container p {
        margin-bottom: 0px; } }
  .container .col-md-4 {
    padding-top: 50px; }
    @media (max-width: 768px) {
      .container .col-md-4 {
        margin-bottom: 20px; } }
    @media (max-width: 576px) {
      .container .col-md-4 {
        margin-bottom: 0px;
        text-align: center; } }
  .container .col-md-4 i {
    position: absolute;
    left: -40px;
    color: #95e1d3; }
  .container .col-md-4 span {
    padding: 5px 70px 5px 25px; }
  .container .col-md-4 p {
    padding: 5px 70px 5px 25px; }

section#u-designs {
  background-image: url("../images/uniquedesingbackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px; }
  section#u-designs.container {
    position: relative; }
  section#u-designs .ipad {
    margin: 0 auto;
    text-align: center; }
  section#u-designs .iphone {
    position: absolute;
    top: 480px;
    left: 650px; }
    @media (max-width: 992px) {
      section#u-designs .iphone {
        left: 450px; } }
    @media (max-width: 768px) {
      section#u-designs .iphone {
        left: 290px;
        top: 300px; } }
    @media (max-width: 576px) {
      section#u-designs .iphone {
        display: none; } }

section#what-we-do {
  margin-bottom: 60px;
  position: relative; }
  section#what-we-do .card-header a {
    text-decoration: none;
    font-family: Roboto-regular, helvetica, arial;
    color: black;
    font-size: 16px;
    text-align: center; }
  section#what-we-do .card-header i {
    color: #95e1d3;
    padding-right: 15px; }
  section#what-we-do .container-fluid {
    background-color: #f8f8f8;
    padding-bottom: 10px; }
    section#what-we-do .container-fluid img {
      padding: 40px;
      border: 2px solid #95e1d3;
      margin-top: 30px;
      margin-left: 30px; }
    section#what-we-do .container-fluid p {
      margin-top: 40px;
      margin-bottom: 30px; }
    section#what-we-do .container-fluid .hr-signature {
      border-top: 3px solid #f38181;
      width: 50px;
      margin: 0; }
      @media (max-width: 768px) {
        section#what-we-do .container-fluid .hr-signature {
          width: 40px; } }
    section#what-we-do .container-fluid h4 {
      position: absolute;
      top: 110px;
      left: 85px; }
      @media (max-width: 1200px) {
        section#what-we-do .container-fluid h4 {
          top: 110px;
          left: 90px; } }
      @media (max-width: 992px) {
        section#what-we-do .container-fluid h4 {
          top: 150px;
          left: 85px; } }
      @media (max-width: 768px) {
        section#what-we-do .container-fluid h4 {
          top: 130px;
          left: 80px; } }
      @media (max-width: 576px) {
        section#what-we-do .container-fluid h4 {
          top: 158px;
          left: 75px; } }
      @media (max-width: 414px) {
        section#what-we-do .container-fluid h4 {
          top: 190px;
          left: 65px; } }

section#our-team {
  margin-bottom: 30px; }
  section#our-team .team-img-container {
    position: relative; }
    section#our-team .team-img-container .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #f38181;
      overflow: hidden;
      width: 100%;
      height: 100%;
      -webkit-transform: scale(0);
      transition: .5s ease; }
    section#our-team .team-img-container .text {
      color: #ffffff;
      font-size: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center; }
  section#our-team .team-img-container:hover .overlay {
    transform: scale(1);
    opacity: 0.9; }
  section#our-team h4 {
    padding-top: 0; }
  section#our-team .container-fluid {
    margin-top: 0;
    background-color: #f8f8f8;
    padding-top: 40px;
    padding-bottom: 40px; }

section#our-work {
  margin-bottom: 30px; }
  section#our-work .hr-header {
    border-top: 3px solid #f38181;
    width: 70px;
    padding-bottom: 30px; }
    @media (max-width: 768px) {
      section#our-work .hr-header {
        padding-bottom: 10px; } }
  section#our-work .container-fluid .card-columns {
    margin-bottom: 10px;
    width: 100%; }
  section#our-work .container-fluid .work1 {
    width: 100%; }
  section#our-work .container.feedback {
    padding-bottom: 40px;
    padding-top: 30px; }
    section#our-work .container.feedback .hr-signature {
      border-top: 3px solid #f38181;
      width: 50px;
      margin: 0;
      top: 190px;
      position: absolute; }
      @media (max-width: 768px) {
        section#our-work .container.feedback .hr-signature {
          top: 120px; } }
      @media (max-width: 576px) {
        section#our-work .container.feedback .hr-signature {
          top: 150px;
          left: 5px; } }
      @media (max-width: 414px) {
        section#our-work .container.feedback .hr-signature {
          top: 170px;
          left: 15px; } }
    section#our-work .container.feedback h4 {
      position: absolute;
      top: 110px;
      left: 85px; }
      @media (max-width: 992px) {
        section#our-work .container.feedback h4 {
          top: 140px;
          left: 85px; } }
      @media (max-width: 768px) {
        section#our-work .container.feedback h4 {
          top: 70px;
          left: 75px; } }
      @media (max-width: 576px) {
        section#our-work .container.feedback h4 {
          top: 60px;
          left: 65px; } }
      @media (max-width: 414px) {
        section#our-work .container.feedback h4 {
          top: 120px;
          left: 75px; } }

section#feedback {
  background-image: url("../images/uniquedesingbackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 70px; }
  section#feedback .feedback header {
    padding-bottom: 90px; }
  section#feedback .feedback img {
    position: absolute;
    left: 0px;
    top: 10px;
    padding-left: 20px; }
  section#feedback .feedback p {
    padding-left: 140px;
    padding-bottom: 70px; }
  section#feedback .feedback span {
    padding-left: 140px;
    padding-bottom: 0px;
    text-transform: uppercase;
    color: #f38181; }
  section#feedback .feedback .hr-feedback {
    border: 2px solid #f38181;
    width: 50px; }

section#blog {
  padding-bottom: 90px; }

section#google-map .google-map {
  width: 100%;
  height: 300px;
  position: relative;
  z-index: 0;
  border-top: 3px solid #999999;
  border-bottom: 3px solid #999999; }

section#google-map #overlay {
  position: fixed;
  /* Sit on top of the page content */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 1;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  overflow: hidden; }

footer#footer {
  margin-top: 50px; }
  footer#footer p {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
    text-align: left;
    margin: 0;
    color: #999999; }
    @media (max-width: 768px) {
      footer#footer p {
        text-align: center;
        margin: 0 auto;
        align-content: center; } }
  footer#footer .logo-footer {
    padding-bottom: 20px; }
  footer#footer .blog-footer img {
    display: inline-block; }
  footer#footer #submit-btn {
    color: #ffffff;
    background-color: #95e1d3;
    padding: 7px 20px 5px 20px;
    border: none;
    font-size: 12px; }
  footer#footer #submit-btn:hover {
    color: #95e1d3;
    background-color: #f8f8f8; }
  footer#footer .social {
    padding-top: 20px; }
    footer#footer .social .fa {
      padding: 10px;
      font-size: 25px;
      width: 40px;
      text-align: left;
      text-decoration: none;
      margin: 5px 2px;
      color: #95e1d3; }
    footer#footer .social .fa:hover {
      opacity: 0.7;
      background-color: #95e1d3;
      color: #ffffff; }
