@font-face {
 font-family: 'Montserrat';
 src:url('../fonts/montserrat-bold-webfont.eot');
 src:url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
 url('../fonts/montserrat-bold-webfont.woff') format('woff'),
 url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
 url('../fonts/montserrat-bold-webfont.svg#icomoon') format('svg');

}

@font-face {
 font-family: 'Kaushanscript';
 src:url('../fonts/kaushanscript-regular-webfont.eot');
 src:url('../fonts/kaushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
 url('../fonts/kaushanscript-regular-webfont.woff') format('woff'),
 url('../fonts/kaushanscript-regular-webfont.ttf') format('truetype'),
 url('../fonts/kaushanscript-regular-webfont.svg#icomoon') format('svg');

}

@font-face {
 font-family: 'Roboto-lightitalic';
 src:url('../fonts/roboto-lightitalic-webfont.eot');
 src:url('../fonts/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
 url('../fonts/roboto-lightitalic-webfont.woff') format('woff'),
 url('../fonts/roboto-lightitalic-webfont.ttf') format('truetype'),
 url('../fonts/roboto-lightitalic-webfont.svg#icomoon') format('svg');

}

@font-face {
 font-family: 'Roboto-regular';
 src:url('../fonts/roboto-regular-webfont.eot');
 src:url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
 url('../fonts/roboto-regular-webfont.woff') format('woff'),
 url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
 url('../fonts/roboto-regular-webfont.svg#icomoon') format('svg');

}

$font-stack: Roboto-regular, helvetica, arial;
$large-paragraph: Roboto-lightitalic;
$green: #95e1d3;
$white: #ffffff;
$pink: #f38181;
$grey: #f8f8f8;
$black: #000000;
$dark-grey: #999999;

//@media (max-width: 414px) { ... }
//@media (max-width: 576px) { ... }
//@media (max-width: 768px) { ... }
//@media (max-width: 992px) { ... }
//@media (max-width: 1200px) { ... }


// BASIC STYLES //  

h1 {
    font-family: 'Montserrat';
    font-size: 150px;
    text-transform: uppercase;
    margin-bottom: 30px;
    
    @media (max-width: 992px){
        font-size: 75px;
        margin-bottom: 30px;
    }
    @media (max-width: 768px){
        font-size: 50px;
        margin-bottom: 20px;
    }
    
}

h2 {
    font-family: 'Kaushanscript';
    font-size: 72px;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 30px;
    
    @media (max-width: 992px){
        font-size: 52px;
        margin-bottom: 20px;
    }
    @media (max-width: 768px){
        font-size: 32px;
        margin-bottom: 10px;
    }
}

h3 {
    font-family: 'Montserrat';
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    
    @media (max-width: 768px){
        font-size: 24px;
        margin-bottom: 10px;
    }
    
    
}

h4 {
    font-family: 'Kaushanscript';
    font-size: 24px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
    
    @media (max-width: 768px){
        padding-top: 40px;
        font-size: 18px;
        padding-bottom: 10px;
        
    }
    
}

p {
    font-family: $font-stack;
    font-size: 16px;
    margin-bottom: 30px;
    &.large-paragraph {
        font-family: $large-paragraph;
        font-size: 24px;
        text-transform: lowercase;
        padding-top: 20px;
        margin: 0;
        @media (max-width: 768px) {
            font-size: 20px;
        }
      
    }
}

// HOME PAGE STYLES // 

section#home-page {
    height: 100vh;
    background-image: url('../images/hero-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 768px) { 
        height: auto;
    }
    
    
    .hero-button{
        background-color: transparent;
        font-family: $font-stack;
        padding: 8px 30px 8px 30px;
        border: 3px solid $white;
        color: $white;
        font-size: 16px;
        margin-bottom: 70px;
         
        
        
    }
    .hero-button:hover{
            
            color: $pink;
            border: 3px solid $pink;
            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
           
    }
        
    
    .navbar{
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 40px;
        
        
        button.navbar-toggler{
            color: $white;
            padding-top: 10px;
            
        }

        li a {
            color: $white;
            font-family: 'Roboto';
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 100;
            margin-left: 100px;

        }
        
        li a:hover {
            color: $grey;
            border: 1px solid $white;
            -webkit-transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
            -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
        }
    }
    
    .container{
        color: $white;
        padding-top: 50px;
        padding-bottom: 20px;
    }
    
    .container hr {
        border-top: 3px solid $white;
        width: 80px;
        padding-bottom: 30px;
    }
    
    
    .col-md-3 hr {
        border-top: 3px solid $white;
        width: 100%;
        padding-bottom: 0px;
        
    }
    .second-menu-item:hover {
        color: $pink;
        
        
    }
   
    
    .col-md-3 a {
        text-align: left;
        text-decoration: none;
        color: $white;
        
    }
 
    .col-md-3 span {
        font-size: 20px;
        font-weight: 500;
        padding-right: 10px;
        padding-left: 5px;
        
      
    } 
    
    .hide {
        @media (max-width: 768px) { 
            display: none;
        }
    }
    
}


//ABOUT US STYLES //



    .container {
        
        .hr-header {
            border-top: 3px solid $pink;
            width: 70px;
            padding-bottom: 30px;
            
            @media (max-width: 768px){
            
            padding-bottom: 10px;
        
            }
            
        }
         p {
           margin-bottom: 70px;
        }
        
    }

    
    .container-fluid {
       
           .counter {
           margin-top: 100px;
           background-color: $green;
           padding-top: 20px;
           text-align: center;
           padding-bottom: 20px;
           color: $white;
           
           @media (max-width: 768px) { 
               padding-top: 10px;
               padding-bottom: 10px;
            }
        
            p {
           text-transform: uppercase;
           
           @media (max-width: 992px) { 
              font-size: 12px;  
            }
           
           @media (max-width: 768px) { 
              font-size: 12px;
            }
       }
           
        }
       
       .number {
         
           font-size: 72px;
           font-weight: 700;
           @media (max-width: 992px) { 
              font-size: 42px;  
            }
           
           @media (max-width: 768px) { 
              font-size: 36px;
            }
           
       }
       
        

    }
    



 // AMAZING SERVICES STYLES // 

 .container {
        margin-bottom: 60px;

        .hr-header {
            border-top: 3px solid $pink;
            width: 70px;
            padding-bottom: 30px;
            
            @media (max-width: 768px){
            
            padding-bottom: 10px;
        
            }   
        }
     
        .services {
            position: relative;
            padding-left: 50px;
        }
     
         p {
           margin-bottom: 70px;
             
            @media (max-width: 768px) {
            margin-bottom: 20px;
        
            }   
             
           @media (max-width: 576px) {
            margin-bottom: 0px;
            
            }
         }
     
        .col-md-4{
            padding-top: 50px;
            
            @media (max-width: 768px){
            margin-bottom: 20px;
        
            }   
             
           @media (max-width: 576px) {
            margin-bottom: 0px;
            text-align: center;
            }
        }
     
         .col-md-4 i {
            position: absolute;
            left: -40px;
            color: $green;
             
            
         }
        .col-md-4 span {
            padding: 5px 70px 5px 25px; 
        }
        .col-md-4 p {
            padding: 5px 70px 5px 25px; 
     }
}

// UNIQUE DESIGNS STYLES // 

section#u-designs {
    background-image: url('../images/uniquedesingbackground.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
    
        &.container {
            position: relative;
        }
    
        .ipad {
            margin: 0 auto;
            text-align: center;
        }
        .iphone {
            position: absolute;
            top: 480px;
            left: 650px;
       
            @media (max-width: 992px) { 
                left: 450px;
            }
        
            @media (max-width: 768px) {
                left: 290px;
                top: 300px;
            }
        
            @media (max-width: 576px) {
                display: none;
 
            }
        }
    }
        
// WHAT WE DO STYLES // 

section#what-we-do {
    margin-bottom: 60px;
    position: relative;
    
    .card-header {
        a {
            text-decoration: none;
            font-family: $font-stack;
            color: black;
            font-size: 16px;
            text-align: center;
            
        }
        
        i {
            color: $green;
            padding-right: 15px;
        }
    }
    
 
    .container-fluid {
            background-color: $grey;
            padding-bottom: 10px;
             
            
        img {
            padding: 40px;
            border: 2px solid $green;
            margin-top: 30px;
            margin-left: 30px;
            
        }
        
        p {
            margin-top: 40px;
            margin-bottom: 30px;
        }
        
        .hr-signature {
            border-top: 3px solid $pink;
            width: 50px;
            margin: 0;
            @media (max-width: 768px) {
                width: 40px;
              
            }
            
        }
        
        h4 {
            position: absolute;
            top: 110px;
            left: 85px;
            
            
            @media (max-width: 1200px) {
                top: 110px;
                left: 90px;
            }
            
            @media (max-width: 992px) {
                top: 150px;
                left: 85px;
            }
            @media (max-width: 768px) {
                top: 130px;
                left: 80px;
              
            }
            @media (max-width: 576px) { 
                top: 158px;
                left: 75px;
            }
            
            @media (max-width: 414px) { 
                top: 190px;
                left: 65px;
            }
          
        }
              
    }   

}

// MEET OUR TEAM STYLES //

section#our-team {
    
    margin-bottom: 30px;
    
    .team-img-container {
        position: relative;
        
        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: $pink;
            overflow: hidden;
            width: 100%;
            height: 100%;
            -webkit-transform: scale(0);
            transition: .5s ease;
        }
        
        .text {
                color: $white;
                font-size: 18px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                text-align: center;
            } 
        }
        .team-img-container:hover .overlay {
            transform: scale(1);
            opacity: 0.9;

            
        }
    
    h4 {
        padding-top: 0; 
    }
    
    .container-fluid {
        margin-top: 0;
        background-color: $grey;
        padding-top: 40px;
        padding-bottom: 40px;
        
        
    }
}

// OUR WORK STYLES //

section#our-work {
    
    margin-bottom: 30px;
    .hr-header {
            border-top: 3px solid $pink;
            width: 70px;
            padding-bottom: 30px;
            
            @media (max-width: 768px){
            
            padding-bottom: 10px;
        
            } 
    }
        
    .container-fluid {
        
        
        .card-columns {
           
            margin-bottom: 10px;
            width: 100%;
            
        }
        
        .work1 {
           width: 100% 
        }

    }
    
    .container.feedback {
        padding-bottom: 40px;
        padding-top: 30px;
        
       
        
        .hr-signature {
            border-top: 3px solid $pink;
            width: 50px;
            margin: 0;
            top: 190px;
            position: absolute;
            @media (max-width: 768px) {
               
                top: 120px;
              
                }
            @media (max-width: 576px) {
                
                top: 150px;
                left: 5px;
            }
            
            @media (max-width: 414px) { 
                top: 170px;
                left: 15px;
            }
            }
        h4 {
            position: absolute;
            top: 110px;
            left: 85px;
            
            @media (max-width: 992px) {
                top: 140px;
                left: 85px;
            }
            @media (max-width: 768px) {
                top: 70px;
                left: 75px;
              
            }
            @media (max-width: 576px) { 
                top: 60px;
                left: 65px;
            }
            
            @media (max-width: 414px) { 
                top: 120px;
                left: 75px;
            }
          
        }
        
            
    }
    
}

// FEEDBACK STYLES //

section#feedback {
    background-image: url('../images/uniquedesingbackground.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 70px;
    
    
    .feedback {
        
        header {
            padding-bottom: 90px;
        }
        img {
            position: absolute;
            left: 0px;
            top: 10px;
            padding-left: 20px;
        }
        
        p {
            padding-left: 140px;
            padding-bottom: 70px;
          
            
        }
        
        span {
            padding-left: 140px;
            padding-bottom: 0px;
            text-transform: uppercase;
            color: $pink;
            
        }
        
        .hr-feedback {
            border: 2px solid $pink;
            width: 50px;
            
            
        }
        
        
    }

}

// BLOG STYLES //

section#blog {
    padding-bottom: 90px;
    
}

// MAP STYLES //

section#google-map {

    .google-map {
        width: 100%; 
        height: 300px; 
        position: relative;
        z-index: 0;
        border-top: 3px solid $dark-grey;
        border-bottom: 3px solid $dark-grey;
        
        
    
    }
    
    #overlay {
            position: fixed; /* Sit on top of the page content */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0; 
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5); /* Black background with opacity */
            z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
            overflow: hidden;
    
        
        }
    
}
    

// FOOTER STYLES //

footer#footer{
    margin-top: 50px;
    
    p{
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 20px;
        text-align: left;
        margin: 0;
        color: $dark-grey;
        
        @media (max-width: 768px) {
            text-align: center;
            margin: 0 auto;
            align-content: center;
        }
    }
    
    .logo-footer {
        padding-bottom: 20px;
    }
    
    .blog-footer {
        img {
             display: inline-block;
        }
      
    }
    
    #submit-btn {
        color: $white;
        background-color: $green;
        padding: 7px 20px 5px 20px;
        border: none;
        font-size: 12px;
    }
    
    #submit-btn:hover{
        color: $green;
        background-color: $grey;
    }
    
    .social {
        padding-top: 20px;
        
        
        .fa {
              padding: 10px;
              font-size: 25px;
              width: 40px;
              text-align: left;
              text-decoration: none;
              margin: 5px 2px;
              color: $green;
            }

            .fa:hover {
                opacity: 0.7;
                background-color: $green;
                color: $white;
            }
    }
}




